$color-black: #383838;
$color-grey: #888888;
$color-pink: #D35266;
$color-white:rgb(248, 246, 246);
$color-jumbotron: linear-gradient(to bottom, #D35266 0%, #888888 100%);


.pink-text {
    color: $color-pink;
}

.gray-text {
    color: $color-grey;
}

header {
    background: $color-black;
    img {
        height: 30px;
    }
    .home {       
        &:hover{
            color: white;
        } 
    }
    .text-color {       
        &:hover{
            color: white;
        } 
    }
}

.jumbotron {    
     background-color: $color-pink !important;    
}


.carousel-item {
    img {
        height: 250px;       
    }
    
    button {
        background-color: $color-pink;
    }
}

.main-area {
    img {
        height: 200px;
    }
}

footer {
    font-family: gotham-rounded-light, serif;
    // color: $color-grey;
    h5{
        font-family: gotham-bold, serif;             
    }
   
}